<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fn.modules.documents.dao.IAccountingSubjectsDao">
	<!-- 基础映射关系 -->
	<resultMap id="BaseResultMap" type="com.fn.modules.documents.entity.AccountingSubjects">
			<id column="id" property="id"/>
			<id column="subject_code" property="subjectCode"/>
			<id column="subject_name" property="subjectName"/>
			<id column="auxiliary_account_type" property="auxiliaryAccountType"/>
			<id column="item_details" property="itemDetails"/>
			<id column="create_time" property="createTime"/>
			<id column="updatetime" property="updatetime"/>
	</resultMap>
	<!-- 基础sql -->
	<sql id="Base_Column_List">
		id, subject_code, subject_name, auxiliary_account_type, item_details, create_time, updatetime
	</sql>

</mapper>


