<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fn.modules.documents.dao.IApplicationDocumentsDao">
	<!-- 基础映射关系 -->
	<resultMap id="BaseResultMap" type="com.fn.modules.documents.entity.ApplicationDocuments">
			<id column="id" property="id"/>
			<id column="application_no" property="applicationNo"/>
			<id column="dept_id" property="deptId"/>
			<id column="user_id" property="userId"/>
			<id column="accounting_subjects_id" property="accountingSubjectsId"/>
			<id column="application_description" property="applicationDescription"/>
			<id column="amount" property="amount"/>
			<id column="create_time" property="createTime"/>
			<id column="updatetime" property="updatetime"/>
	</resultMap>
	<!-- 基础sql -->
	<sql id="Base_Column_List">
		id, application_no, dept_id, user_id, accounting_subjects_id, application_description, amount, create_time, updatetime
	</sql>

</mapper>


